In [1]:
# Instalar previamente paquetes html5lib y bs4

In [2]:
from bs4 import BeautifulSoup
import html5lib
import requests
import pandas as pd

In [3]:
#Extracci√≥n de datos usando WebScraping

In [3]:
pagina=requests.get("https://web.archive.org/web/20200318083015/https://en.wikipedia.org/wiki/List_of_largest_banks").text

In [4]:
soup=BeautifulSoup(pagina, 'html.parser')

In [5]:
columnas=["Name", "Market Cap (US$ Billion)"]
data=pd.DataFrame(columns=columnas)

for i,row in enumerate(soup.find_all('tbody')[2].find_all('tr')):
    if i!=0:
        col = row.find_all('td')
        name = col[1].find_all('a')[0].get('title')
        marketCap = col[2].string
        new_data= pd.DataFrame([[name,marketCap]],columns=columnas)
        data= pd.concat([data, new_data],ignore_index=True)

data.head(5)

            Name Market Cap (US$ Billion)
0  United States                390.934\n
1          China                345.214\n
2  United States                325.331\n
3  United States                308.013\n
4          China                257.399\n

In [7]:
objetivo="archivo.json"

def load(obj,datos):
    datos.to_json(obj)
    
load(objetivo, data)

objetivo

'archivo.json'

In [9]:
data.head(10)

             Name Market Cap (US$ Billion)
0   United States                390.934\n
1           China                345.214\n
2   United States                325.331\n
3   United States                308.013\n
4           China                257.399\n
5  United Kingdom                219.270\n
6           China                203.244\n
7   United States                203.165\n
8           China                181.469\n
9           China                122.616\n